body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app {
  width: auto;
  margin: auto;
  text-align: center;
}

table{
  width: 400px;
  margin: 0 auto;
  border: 3px solid black;
}

.create{
  width: 400px;
  margin: 0 auto;
}

.field {
  width: 100%;
  height: 30px;
  position: relative;
  margin: 0px 0px 12px;
}

.createButton {
  background: green;
  padding: 15px;
  color:white;
  text-decoration: none;
  border: none;
  font-size: 18px;
}

.button {
  background-color: #2480ed;
  padding: 10px;
  margin:10px;
  color:white;
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
